/* daotao-sinhvien */
.app__daotao-sinhvien-wrapper {
    display: flex;
    
}


.app__daotao-sinhvien-item {

}

.app__daotao-sinhvien-text {

}

.app__daotao-sinhvien-img img {
    height: 250px;
    width: 350px;
    

}

.app__daotao-sinhvien-content {

}

