.app__enrollment {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-bottom: 32px;
}

.app__enrollment-header {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  margin-bottom: 12px;
  text-transform: uppercase;
}

.app__enrollment-title {
  font-size: var(--title-size);
  font-weight: 400;
  cursor: pointer;
}

.app__enrollment-body {
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px 64px;
}

.app__enrollment-img {
  cursor: pointer;
}



.app__enrollment-content {
  margin-left: 32px;
}

.app__enrollment-message {
  font-size: 18px;
  margin-bottom: 24px;
}

.app__enrollment-message-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.app__enrollment-message-block {
  font-size: 18px;
  padding-right: 64px;
}

.app__enrollment-message-item {
  width: 280px;
  margin-bottom: 25px;
  color: var(--primary-color);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.app__enrollment-message-item:hover {
  transform: translateX(12px);
}